body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Borrowed from create-react-app template */

.App {
  text-align: center;
}

.App-logo {
  height: 40px;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 20px;
  padding-top: 7px;
  padding-bottom: 7px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.editor {
  min-height: 200px;
  min-width: 400px;
  padding: 20px;
  background-color: burlywood;
  margin-bottom: 20px;
}

.previewer {
  min-height: 200px;
  min-width: 200px; 
  margin: 0px 20px;
  padding: 20px;
  border: 6px solid black ;
  background-color: mediumaquamarine;
}

.preview_container {
display: flex;
flex-direction: column;
justify-content: center;
align-items: top;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
